# Libraries
*.lvlibp


# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
.cache/
P5_MAIN_PRJ.lvlps
Loggede Filer/Samlet Log data  17-05-2023 11.40.10.txt
